

<!DOCTYPE html>
<html class="no-js">

<head>
<title>Diypa571</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Description">
<meta name="Diyar" content="Diyar Parwana">
<meta name="keyword" content="Keyword">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta property="og:title" content="Titlte">
<meta property="og:description" content="Description">
<meta property="og:site_name" content="Name">
<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
<script src="https://cdn.tailwindcss.com"></script>
<script type="text/javascript" src="vue.min.js"></script>
</head>

<body>

<div class="mx-auto max-w-[450px] my-1 rounded">
<div class="h-full  ">
<div class="rounded-b-xl bg-indigo-600 p-5 pb-44 text-white">
<div class="mb-4 flex items-center justify-between">
  <img class="bg-white p-2 rounded  max-w-full h-auto" src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png">

</div>
<div class="space-y-2">

<div id="app">
<div class="container">

<input class="block text-gray-700 p-1 m-4 ml-0 w-full rounded text-lg font-normal placeholder-gray-300" type="text" v-model="categoryValue" @input="categoryChange" placeholder="Ange Album nr" />
<h4 v-if="loading === true">Loading...</h4>
<p v-if="categoryValue === ''">Category value is empty, please enter one.</p>
<p v-if="loading === false && categoryValue !== '' && items.length === 0">
	Finns ingen data för kategorin <b>{{ categoryValue }}</b>
</p>
<ul v-if="loading === false">
	<li v-for="(item, index) in items" :key="item.id">

<div class="flex space-x-4 rounded-xl bg-white p-3 shadow-sm">
<img class="aspect-square w-16 rounded-lg  object-cover" :src="item.thumbnailUrl" alt="" />
<div>
<h4 class="font-semibold text-gray-600">{{ item.title.charAt(0).toUpperCase()+ item.title.slice(1)}}</h4>
<p class="text-sm text-slate-400">https://github</p>
</div>
<div>

	</li>
</ul>
<footerbar></footerbar>
</div>
</div>


 



<script type="text/javascript">
const SERVICE = (value) => {
 return "https://jsonplaceholder.typicode.com/albums/"+ value +"/photos";
//return "https://myipfs.se/backend_1/views/?album="+ value +"/photos";
};
const FooterBarComponent = {
template: '#footerbar'
}
const app = new Vue({
el: '#app',
components: {
footerbar: FooterBarComponent,
},
data: function() {
return {
	loading: false,
	categoryValue: '',
	items: [],
};
},
methods: {
categoryChange(e) {
	this.categoryValue = e.target.value;
	this.fetchData();
},
async fetchData() {
	this.items = [];
	if (this.categoryValue === "") return;

	this.loading = true;
	const link = SERVICE(this.categoryValue);
	const response = await fetch(link);
	const data = await response.json();
	console.log(data);
	if (data && data.length && data.length > 0) {
		this.items = data;
	}
	this.loading = false;
},
},
computed: {},
mounted: function() {},

});
</script>
</body>

</html>
